.products-div{
    width: 100%;
    /* border: 1px solid red; */
    padding: 100px 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.waves-container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.waves-place{
    /* border: 1px solid red; */
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
}

.waves{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.products-container{
    width: 100%;
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.products-heading-container{
    width: 100%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-heading{
    color: var(--000, #000);
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    text-transform: capitalize;
}

.products-products-container{
    /* border: 1px solid green; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    gap: 2rem;
}

.products-items-container{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    gap: 3rem;
}

.products-carousel{
    width: 100%;
    /* border: 1px solid orange; */
}

.product-item-div{
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 1rem;
}

.product-item{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 61px 53px 0px rgba(67, 40, 24, 0.07);

    cursor: pointer;
}

.product-item-img-place{
    width: 100%;
    height: 220px;
    /* border: 1px solid red; */
    overflow: hidden;
    position: relative;
    border-radius: 20px 20px 0px 0px;
}

.product-item-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-item-info{
    background-color: #FFF;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.8rem;
    padding: 1rem 2rem;
    box-sizing: border-box;

    border-radius: 0px 0px 20px 20px;
}

.product-item-name{
    color: var(--000, #000);
    font-family: Montserrat;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.product-item-price{
    color: var(--000, #000);
    font-family: Montserrat;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.products-arrows-container{
    width: 100%;
    /* font-size: 3rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.products-arrow{
    cursor: pointer;
}

@media screen and (min-width:1600px){
    .product-item-img-place{
        height: 400px;
    }
    .products-arrow{
        width: 70px;
        height: 70px;
    }
}

@media screen and (max-width:1200px){
    .product-item-img-place{
        height: 180px;
    }
    .product-item-name{
        font-size: 20px;
    }
    .products-heading{
        font-size: 30px;
    }
}

@media screen and (max-width:750px){
    .products-div{
        padding: 30px 0px;
    }
    .product-item-img-place{
        height: 150px;
    }
    .product-item-info{
        padding: 0.5rem 1rem;
    }
    .product-item-name{
        font-size: 13px;
    }
    .product-item-price{
        font-size: 14px;
    }
    .products-heading{
        font-size: 25px;
    }
    .products-arrows-container{
        gap: 1rem;
    }
    .products-arrow{
        width: 30px;
        height: 30px;
    }
    .waves-container{
        top: 30px;
        gap: 0.5rem;
    }
    .waves-place{
        width: 100px;
        height: 20px;
    }
}

@media screen and (max-width:500px){
    .waves-container{
        top: 20px;
    }
    .waves-place{
        width: 80px;
        height: 15px;
    }
}