.objects-div{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 30px;
    box-sizing: border-box;
}

.objects-container{
    /* border: 1px solid blue; */
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 0px 0px 37.66px 0px rgba(0, 0, 0, 0.05);
    width: 80%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.sheets-place{
    /* border: 1px solid blue; */
    position: absolute;
    left: -50px;
    bottom: -65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sheets-place.right{
    left: auto;
    right: -50px;
}

.object-div{
    width: 33%;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    box-sizing: border-box;
}

.object{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    box-sizing: border-box;
    gap: 1rem;
    border-right: 1px solid #B6B6B6;;
}

.object.no-line{
    border-right: none;
}

.object-logo{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.object-text{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.object-main-text{
    color: var(--000, #000);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.object-side-text{
    color: rgba(0, 0, 0, 0.40);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.sheets-mobile{
    display: none;
}

@media screen and (max-width:1200px){
    .objects-container{
        width: 100%;
    }
    .object-main-text{
        font-size: 18px;
    }
    .object-side-text{
        font-size: 14px;
    }
    .sheets-place{
        width: 80px;
        height: 80px;
        bottom: -40%;
        left: -20px;
    }
    .sheets-place.right{
        left: auto;
        right: -20px;
    }
    .sheets{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width:785px){
    .objects-div{
        padding: 30px 30px;
    } 
    .objects-container{
        flex-direction: column;
        background: none;
        width: 70%;
    }
    .object-div{
        width: 100%;
        position: relative;
    }
    .object{
        background: #FFF;
        border-radius: 25px;
        padding: 20px 0px;
    }
    .sheets-place{
        display: none;
    }
    .sheets-mobile.yes{
        display: flex;
        position: absolute;
        top: -70%;
        transform: rotate(180deg);
    }
    .sheets-mobile.right{
        bottom: -70%;
        top: auto;
    }
}

@media screen and (max-width:500px){
    .objects-container{
        width: 90%;
    }
    .object-main-text{
        font-size: 16px;
    }
    .object-side-text{
        font-size: 12px;
    }
}

@media screen and (max-width:350px){
    .objects-container{
        width: 100%;
    }
    .objects-div{
        padding: 30px 10px;
    }
}