.header-div{
}

.header-container{
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 3rem;
    /* border: 1px solid green; */
    background: var(--secondary-bg-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header-left, .header-right, .option-flex{
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left{
    /* border: 1px solid green; */
    gap: 5rem;
    /* border: 1px solid red; */
}

.option-flex{
    gap: 3rem;
}

.option{
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal; /* 200% */
    text-transform: capitalize;
    cursor: pointer;

    opacity: 0.5;
}

.selected{
    color: var(--primary-color);
    opacity: 1;
    font-weight: 600;
    transition: all 0.1s ease-in-out;
}


.logo-container{
    /* border: 1px solid blue; */
    padding: 1rem 0px;
}

.logo{
    width: 80px;
    height: 62px;
    color: var(--primary-color);
}

.header-right{
    /* border: 1px solid green; */
    width: 80%;
}

.cart-container{
    border: 1px solid yellow;
    display: flex;
    width: 25%;
    padding: 7px 8px;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    color: var(--primary-color);
    /* border: 2px solid var(--primary-color); */
    /* background: var(--primary-color); */
    cursor: pointer;
}

.cart-icon-container{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}


.cart-count{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 16px;
    height: 16px;
    transform: translateX(5px) translateY(-5px);
    border-radius: 50%;
    /* background: var(--primary-color); */
    background-color: var(--primary-color);
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-btn{
    display: flex;
    /* padding: 10px 25px; */
    padding: 1.35rem 1.1rem;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: var(--primary-color);
    border: var(--primary-color);
    color: white;
    text-transform: uppercase;
    height: 24px;
    font-family: 'Exo';
    font-size: 16px;
    font-weight: 500;
}

.toggle-bar{
    display: none;
    font-size: calc(1.4rem + 1vw);
    cursor: pointer;
    margin-right: 20px;
}

/* SearchBar.css */

.search-bar-container {
    /* border: 1px solid blue; */
    /* width: 100%; */
    display: flex;
    align-items: center;
    border-radius: 20px;
    /* border: 1px solid #ccc; */
    /* padding: 8px; */
    position: relative;
}

.search-bar{
    width: 100%;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 20px;
}

  

@media screen and (max-width: 1200px){
    .header-container{
        padding: 0px 2rem;
    }

    .header-left{
        gap: 2rem;
    }

    .option{
        font-size: 16px;
    }

    .header-right{
        width: 80%;
    }

    .quote-btn{
        padding: 1.35rem 1rem;
        font-size: 14px;
    }
}

@media screen and (max-width: 980px){
    .header-container{
        padding: 0px 1rem;
    }

    .header-left{
        gap: 1rem;
    }

    .option{
        font-size: 14px;
    }

    .header-right{
        width: 80%;
    }

    .quote-btn{
        padding: 1.35rem 1rem;
        font-size: 12px;
    }
}

@media screen and (max-width: 840px){
    .header-container{
        padding: 0px 0.5rem;
    }

    .header-left{
        gap: 1rem;
    }

    .option{
        font-size: 14px;
    }

    .header-right{
        width: 80%;
    }

    .quote-btn{
        padding: 1.35rem 1rem;
        font-size: 12px;
    }
}

@media screen and (max-width: 768px){
    .header-container{
        padding: 0px 0.2rem;
    }

    .header-left{
        gap: 0.5rem;
    }

    .option{
        font-size: 14px;
    }

    .option-flex{
        gap: 1.5rem;
    }

    .header-right{
        width: 80%;
    }

    .quote-btn{
        padding: 1.35rem 0.5rem;
        font-size: 12px;
    }
}

@media screen and (max-width:740px){
    .toggle-bar{
        display: block;
    }
    .option-flex{
        display: none;
    }
    .header-left{
        /* border: 1px solid red; */
        width: 58%;
    }
    .header-right{
        width: 82%;
        justify-content: flex-end;
    }
    .quote-btn{
        display: none;
    }
}

@media screen and (max-width:500px){
    .header-left{
        width: 63%;
    }
}

