.header-div{
}

.header-container{
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 3rem;
    /* border: 1px solid green; */
    background: var(--secondary-bg-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header-left, .header-right, .option-flex{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left{
    /* border: 1px solid green; */
    gap: 5rem;
    /* border: 1px solid red; */
}

.option-flex{
    gap: 3rem;
}

.option{
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal; /* 200% */
    text-transform: capitalize;
    cursor: pointer;

    opacity: 0.5;
}

.selected{
    color: var(--primary-color);
    opacity: 1;
    font-weight: 600;
    transition: all 0.1s ease-in-out;
}


.logo-container{
    /* border: 1px solid blue; */
    padding: 1rem 0px;
}

.logo{
    width: 80px;
    height: 62px;
    color: var(--primary-color);
}

.header-right{
    /* border: 1px solid green; */
    width: 80%;
}

.cart-container{
    /* border: 1px solid yellow; */
    display: flex;
    width: 25%;
    padding: 7px 8px;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    color: var(--primary-color);
    /* border: 2px solid var(--primary-color); */
    /* background: var(--primary-color); */
    cursor: pointer;
}

.cart-icon-container{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}


.cart-count{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 16px;
    height: 16px;
    transform: translateX(5px) translateY(-5px);
    border-radius: 50%;
    /* background: var(--primary-color); */
    background-color: var(--primary-color);
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle-bar{
    display: none;
    font-size: calc(1.4rem + 1vw);
    cursor: pointer;
    margin-right: 20px;
}

/* SearchBar.css */

.search-bar-container {
    /* border: 1px solid blue; */
    /* width: 100%; */
    display: flex;
    align-items: center;
    border-radius: 20px;
    /* border: 1px solid #ccc; */
    /* padding: 8px; */
    font-size: 1.2rem;
    position: relative;
}

.search-bar-icon{
    position: absolute;
    left: 1rem;

    display: flex;
    align-items: center;
    gap: 3rem;

    cursor: auto;
}

.search-text{
    color: #929292;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.search-bar{
    width: 100%;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 20px;

    /* border: 3px solid red; */

    display: flex;
    align-items: center;

    padding: 10px 10px;
}

  

@media screen and (max-width: 1200px){
    .header-container{
        padding: 0px 2rem;
    }

    .header-left{
        gap: 2rem;
    }
    .header-right{
        width: 80%;
    }
    .search-bar-icon{
        gap: 1rem;
    }

}

@media screen and (max-width: 1020px){
    .header-container{
        padding: 0px 1rem;
    }

    .header-left{
        gap: 1rem;
    }

    .option{
        font-size: 18px;
    }

    .header-right{
        width: 80%;
    }

}

@media screen and (max-width: 840px){
    .header-container{
        padding: 0px 0.5rem;
    }

    .header-left{
        gap: 1rem;
    }

    .option{
        font-size: 14px;
    }

    .header-right{
        width: 80%;
    }

}

@media screen and (max-width: 768px){
    .cart-container{
        width: 100%;
    }
    .search-bar-container{
        width: 80%;
    }
    .logo-container{
        display: none;
    }
    .toggle-bar{
        display: block;
    }
    .option-flex{
        display: none;
    }
    .header-left{
        /* border: 1px solid red; */
        width: 15%;
    }
    .header-right{
        width: 85%;
        justify-content: flex-end;
    }
    .header-container{
        padding: 0.5rem 1.5rem;
        background: transparent;
        box-shadow: none;
        color: white;
    }
    .cart-container{
        color: white;
    }
    .cart-count{
        background-color: white;
        color: var(--primary-color);
    }
}

@media screen and (min-width:1600px){
    .logo{
        width: 160px;
        height: 124px;
    }
    .option{
        font-size: 2.5rem;
    }
    .cart-container{
        width: 30%;
    }
    .search-bar-container{
        width: 80%;
    }
    .search-bar{
        padding: 10px 30px;
        font-size: 2rem;
        border-radius: 30px;
    }
    .cart-icon-container{
        font-size: 3rem;
    }
    .cart-count{
        width: 32px;
        height: 32px;
        transform: translateX(12px) translateY(-10px);
        font-size: 18px;
    }
}


