.gallery-div{
    width: 100%;
    /* border: 1px solid red; */
    box-sizing: border-box;
    padding: 100px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.dots-place{
    position: absolute;
    top: -50px;
    right: 0;
    /* border: 1px solid red; */
}

.gallery-waves-container{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.gallery-container{
    width: 100%;
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.gallery-headings-container{
    width: 100%;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.gallery-heading{
    width: 100%;
    color: var(--Black, var(--000, #000));
    text-align: center;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: capitalize;
}

.gallery-options-container{
    width: 100%;
    /* border: 1px solid blue; */
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    gap: 21px;
}

.gallery-option{
    display: flex;
    justify-content: center;
    min-width: 90px;
    align-items: center;
    padding: 10px 10px;
    box-sizing: border-box;
    border-radius: 16px;
    border: 1px solid #FFF;
    box-shadow: 0px 43px 38px 0px rgba(67, 40, 24, 0.07);

    color: black;
    background: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;

    cursor: pointer;
}

.gallery-option.selected{
    color: #FFF;
    background: #8D5A3B;
    border: 1px solid #FFF;
}

.main-gallery-container{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.gallery-images-super-container{
    width: 100%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

}

.gallery-images-container{
    width: 65%;
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2.5rem;
}

.gallery-image-container{
    width: 100%;
    height: 262px;
    overflow: hidden;
    position: relative;
    border-radius: 24px;
}

.gallery-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.arrow-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow{
    cursor: pointer;
}

.arrow.right{
    transform: rotate(180deg);
}

.gallery-show-more{
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-more-btn{
    min-width: 200px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: #FFF;
    border-radius: 30px;
    padding: 19px 28px;

    color: #FFF;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
}

@media screen and (min-width:1600px){
    .gallery-image-container{
        height: 350px;
    }
    .gallery-heading{
        font-size: 4rem;
    }
    .gallery-options-container{
        gap: 3rem;
    }
    .gallery-option{
        min-width: 150px;
        font-size: 2rem;
        padding: 10px 30px;
        border-radius: 30px;
    }
    .gallery-option.selected{
        border: 2px solid #FFF;
    }
    .show-more-btn{
        min-width: 400px;
        font-size: 2rem;
        border-radius: 60px;
        padding: 30px 40px;
    }
}

@media screen and (max-width:1200px){
    .gallery-images-container{
        width: 75%;
        gap: 1.5rem;
    }
    .gallery-image-container{
        height: 200px;
    }
}

@media screen and (max-width:785px){
    .gallery-div{
        padding: 50px 30px;
    }
    .gallery-heading{
        font-size: 1.5rem;
    }
    .gallery-options-container{
        gap: 0.5rem;
    }
    .gallery-option{
        min-width: 70px;
        font-size: 0.7rem;
        padding: 7px 10px;
        border-radius: 20px;
    }
    .gallery-images-container{
        grid-template-columns: repeat(1,1fr);
    }
    .gallery-image-container{
        height: 250px;
    }
    .show-more-btn{
        font-size: 1rem;
        border-radius: 30px;
        padding: 10px 20px;
        min-width: 80px;
    }
}

@media screen and (max-width:500px){
    .gallery-images-super-container{
        gap: 0rem;
    }
    .gallery-div{
        padding: 50px 0px;
    }
    .arrow-div{
        /* max-width: 20px; */
    }
    .gallery-images-container{
        width: 100%;
    }
    .dots-place{
        height: 85px;
    }
    .dots{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .gallery-waves-container{
        gap: 0.5rem;
        bottom: -50px;
    }
}

@media screen and (max-width:350px){
    .gallery-div{
        padding: 50px 10px;
    }
    .gallery-images-super-container{
        gap: 0.5rem;
    }
    .show-more-btn{
        font-size: 0.8rem;
        border-radius: 20px;
        padding: 10px 20px;
    }
    .arrow-div{
        width: 30px;
        height: 30px;
        position: relative;
        overflow: hidden;
    }
    .arrow{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}