.footer-div{
    /* border: 1px solid red; */
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.footer-container{
    /* border: 1px solid blue; */
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    padding: 4rem 0px;
    padding-bottom: 5rem;
    box-sizing: border-box;
    color: #FFF;
}

.footer-with-logo{
    width: 40%;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.short-bio{
    font-family: Poppins;
    color: rgba(255, 255, 255, 0.50);
    font-size: 17.841px;
    font-style: normal;
    font-weight: 400;
    line-height: 31.222px; /* 175% */
}

.socials-div{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-info-container{
    /* border: 1px solid yellow; */
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* gap: 2rem; */
}

.footer-info-part{
    /* border: 1px solid pink; */
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
}

.footer-info-heading{
    font-family: Poppins;
    font-size: 20.072px;
    font-style: normal;
    font-weight: 600;
    line-height: 144%; 
    text-transform: capitalize;
}

.footer-info-items{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.footer-info-items p{
    color: rgba(255, 255, 255, 0.50);
    font-family: Poppins;
    font-size: 17.841px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (min-width:1600px){
    .short-bio{
        font-size: 23px;
    }
    .footer-info-heading{
        font-size: 27px;
    }
    .footer-info-items p{
        font-size: 23px;
    }
}

@media screen and (max-width:1000px){
    .footer-container{
        width: 99%;
        gap: 0.3rem;
    }
    .short-bio{
        font-size: 15px;
    }
    .footer-info-heading{
        font-size: 15px;
    }
    .footer-info-items p{
        font-size: 15px;
    }
}

@media screen and (max-width:750px){
    .footer-container{
        gap: 0rem;
    }
    .footer-with-logo{
        width: 30%;
        gap: 1rem;
    }
    .socials-div{
        width: 70%;
    }
    .footer-info-container{
        width: 70%;
    }
    .short-bio{
        font-size: 13px;
        line-height: 20px;
    }
    .footer-info-heading{
        font-size: 14px;
    }
    .footer-info-items p{
        font-size: 12px;
    }
}

@media screen and (max-width:550px){
    .footer-container{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .footer-with-logo{
        width: 90%;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
    .short-bio{
        /* display: none; */
        text-align: center;
    }
    .socials-div{
        width: 100%;
        /* border: 1px solid red; */
        justify-content: space-between;
    }
    .footer-info-container{
        width: 90%;
    }
    .footer-info-heading{
        font-size: 12px;
    }
    .footer-info-items p{
        font-size: 10px;
    }
}
