.testimonials{
    width: 100%;

}

.slider-div{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-container{
    /* width: 100%; */
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-div{
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: #FFF; */
    padding: 0px 10px;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.review-container{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: #FFF;
    padding: 20px 20px;
    box-sizing: border-box;
    border-radius: 1rem;
    box-shadow: 0px 43px 17.1px 0px rgba(67, 40, 24, 0.07);
}

.stars-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
    margin-bottom: 1rem;
}

.star-place-review{
    width: 15px;
    height: 15px;
    position: relative;
    overflow: hidden;
}

.star-review{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.review-content{
    color: var(--light-text-color-title, #11142D);
    font-family: Inter;
    font-size: 13.528px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.234px */
    margin-bottom: 1rem;
}

.review-profile-container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}


.review-profile{
    width: 60px;
    height: 60px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.review-profile-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review-name-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
}

.reviewer-name{
    color: var(--light-text-color-title, #11142D);
    font-family: Inter;
    font-size: 13.528px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 16.234px */
    letter-spacing: 0.068px;
    text-transform: capitalize;
}

.reviewer-title{
    color: var(--light-text-color-body-1, #92929D);
    font-family: Inter;
    font-size: 11.837px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 15.388px */
    letter-spacing: 0.095px;
    text-transform: capitalize;
}

/* .slick-dots li button{
    width: 50px;
    height: 50px;
    padding: 20px;
} */

.custom-dot {
    width: 15px; /* Set the desired width */
    height: 15px; /* Set the desired height */
    background-color: #F8E9D2; /* Set the background color */
    border-radius: 50%; /* Make it a circle */
    margin: 0 8px; /* Adjust the margin between dots */
    cursor: pointer; /* Add cursor pointer for better UX */
    transition: background-color 0.3s ease;
}

.custom-dot.active {
    background-color: #432818; /* Set the background color for the active dot */
}

@media screen and (min-width:1600px) {
    .star-place-review{
        width: 20px;
        height: 20px;
    }
    .review-content{
        font-size: 1.5rem;
    }
    .review-profile{
        width: 80px;
        height: 80px;
    }
    .reviewer-name, .reviewer-title{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:785px){
    .review-div{
        padding: 10px 0px;
        margin-bottom: 20px;
    }
    .custom-dot{
        width: 10px;
        height: 10px;
        margin: 0 5px;
    }
}
