@font-face {
    font-family: 'Digital Numbers';
    src: url('../../assets/fonts/digital-numbers.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.banner-div{
    /* border: 1px solid green; */
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.banner-img-container{
    /* border: 1px solid blue; */
    display: flex;
    width: 35%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.banner-container{
    width: 65%;
    /* border: 1px solid yellow; */
    padding: 1rem 2rem;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 1rem;
}

.banner-arc-container{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner-arc-place{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.banner-arc{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-title{
    /* border: 1px solid red; */
    color: #FFF;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    /* -webkit-text-stroke: 1px #FFF; */
    /* letter-spacing: 2px; */
}

.lamp-timer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
}

.lamp-container{
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.lamp{
    width: 100%;
    border-radius: 20px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: white;
    padding: 12px 18px;

    text-transform: uppercase;
    font-family: Inter;
}

.date-timer-container{
    /* border: 1px solid yellow; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.date-timer-text{
    width: 100%;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
}

.date-timer-text h3{
    color: #FFF;
    font-family: Poppins;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    text-transform: uppercase;
    padding: 0px 0px;
    margin: 0px 0px;
}


.date-timer-text h5{
    color: #FFF;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;

    padding: 0px;
    margin: 0px;
}

.timer-container{
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.timer-box-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.timer-box{
    /* border: 1px solid red; */
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 35.211px;
    height: 35.211px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.16);

    color: #484848;
    font-family: 'Digital Numbers';
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

.timer-text{
    color: #909090;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 13.343px */
}

.banner-img-place{
    /* border: 1px solid green; */
    width: 95%;
    height: 95%;
    overflow: hidden;
    position: relative;
}

.video-play-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    /* font-size: 1.5rem; */
}

.banner-img.hide button{
    opacity: 0;
}


.banner-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-img-boundary{
    width: 300px;
    height: 300px;
    border: 2px solid white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-img-dotted-boundary{
    width: 90%;
    height: 90%;
    border: 2px dashed white;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:600px){
    .banner-img-container{
        width: 40%;        
    }
    .banner-bg-container{
        height: 110vh;
    }
    .banner-img-boundary{
        width: 200px;
        height: 200px;
    }
    .banner-arc-container{
        width: 100%;
    }
    .banner-title{
        width: 100%;
        font-weight: 600;
    }
}

@media screen and (max-width:500px){
    .banner-bg-container{
        height: min(600px,90vh);
    }
    .banner-img-container{
        width: 50%;
    }
    .banner-container{
        padding: 1rem 10px;
    }
    .banner-arc-container{
        width: 100%;
    }
    .banner-title{
        width: 100%;
        text-align: left;
        font-size: 1.8rem;
    }
    .banner-img-boundary{
        width: 150px;
        height: 150px;
    }
    .banner-img-container{
        justify-content: flex-start;
        height: 100%;
    }
    .video-play-btn{
        width: 30px;
        height: 30px;
        font-size: 0.5rem;
    }
}

@media screen and (min-width:769px){
    .banner-div{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        /* width: 70%; */
        /* border: 1px solid green; */
        /* gap: 10re; */
    }
    .banner-bg-container{
        height: 120vh;
    }
    .banner-container{
        width: 60%;
        padding: 0px 100px;
        padding-right: 200px;
    }
    .lamp-container{
        /* width: 100%; */
        /* border: 1px solid red; */
    }
    .lamp{
        font-size: 1.2rem;
        padding: 18px 30px;
        border-radius: 35px;
    }
    .date-timer-container{
        gap: 1rem;
    }
    .banner-img-container{
        /* border: 1px solid blue; */
        justify-content: flex-start;
        width: 40%;
    }
}

@media screen and (min-width:1025px){
    .banner-title{
        font-size: 3.2rem;
    }
    .date-timer-text h3{
        font-size: 1.3rem;
    }
    .date-timer-text h5{
        font-size: 1rem;
    }
    .timer-box{
        font-size: 2.2rem;
        width: 55px;
        height: 55px;
    }
    .timer-text{
        font-size: 1.2rem;
    }
    .banner-img-boundary{
        width: 450px;
        height: 450px;
    }
}

@media screen and (min-width:1600px){
    .banner-title{
        font-size: 5rem;
    }

    .lamp{
        padding: 12px 36px;
        font-size: 2rem;
        border-radius: 40px;
    }
    .date-timer-text h3{
        font-size: 3rem;
    }
    .date-timer-text h5{
        font-size: 1.8rem;
    }
    .timer-box{
        font-size: 4rem;
        width: 100px;
        height: 100px;
    }
    .timer-text{
        font-size: 2rem;
    }
    .banner-img-boundary{
        width: 800px;
        height: 800px;
    }
    .video-play-btn{
        width: 100px;
        height: 100px;
        font-size: 2rem;
    }
}
